.inline-list
    list-style-type: none
    padding: 0
    li
        display: inline-block
        margin: 2px

#email 
    color #f5ea0a

footer 
    min-height 300px;
    position: relative 
    background-color: black
    #footer-container
        z-index: 5
        padding: 40px
        text-align: center 
        margin: 0 auto 
    background-color: #212529
    img 
        display flex
        justify-content space-around
        height 80px  
        width 80px
        transition: 0.25s all ease-in-out
        &:hover
            width 100px

#toggle-theme
    color: white
    fill: white
    border 5px solid white