mainColor = #f3e79e
iconSize = 80px;

li
    list-style-type none

.nav-items
    padding-left 20px
    height 100vh;
    display flex
    flex-direction row
    justify-content space-around
    -webkit-writing-mdoe vertical-lr
    writing-mode vertical-lr
    font-size 20px
    li
        position relative
        display block

.navbar
    position: -webkit-sticky;
    position sticky
    border 0    
    transform: translate(10px)
